@charset "utf-8";
/*
.contenedor2
{
	background-color: rgba(255,255,255,0.95);
	padding-top: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	border-radius: 20px;
}
.contenedor
{
	background-color:rgba(255,255,255,0.95);
	background:url(../img/blue.jpg);
}

.horizontal
{
	background-color:rgba(255,255,255,0.50); estaba comentado
	border-radius: 20px;
	margin-bottom: 7%;
}


footer
{
	background-color: rgba(0,102,102,0.80);
	color: #FFFFFF;
	padding-top: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	border-radius: 20px;
	bottom:0;
	position:fixed;
	width:100%;
}

.Menu
{
	background-color: rgba(239,239,239,0.4);
	width: 100%;
	height: 10%;
	top: 0;
	position:absolute;
	color: rgba(0,0,113,1);
	padding: 1%;
	font-weight: bold;
	font-size: large;
	text-shadow: 1px 0px #000000;
}

*/


.Menu
{
	background-color: rgba(0,239,239,0.4);
	width: 100%;
	height: 8%;
	top: 0;
	position:absolute;
	color: rgba(0,0,113,1);
	padding: 0%;
	font-weight: bold;
	font-size: large;
	text-shadow: 1px 0px #000000;
}

html{
  height: 100%;
}
/*
body{
  background-image:url('../img/backgrounds/FONDOinvertido.png');
  background-repeat:no-repeat;
  background-size:auto;
}*/

body.backgroundLogin
{
	background-image:url(../img/backgrounds/building.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
		background-position:0px -10px;

}



.blueTitle{
	color: #00BAEE;
	font-size: 20px;
	font-weight: 500;
}



.purpleTitle{
	color: #201953;
	font-size: 20px;
	font-weight: 500;
}


.grayTitle{
	color: #2F302E;
	font-size: 20px;
	font-weight: 500;
}


.greenTitle{
	color: #009999;
	font-size: 20px;
	font-weight: 500;
}

.pinkTitle{
	color: #C5027F;
	font-size: 20px;
	font-weight: 500;
}

.yellowTitle{
	color: #E69401;
	font-size: 20px;
	font-weight: 500;
}

.greenclearTitle{
	color: #69B42D;
	font-size: 20px;
	font-weight: 500;
}



.wellalternative{
	min-height: 20px;
	padding:19px;
	margin-bottom: 20px;
}

.borderpillbegin{
	-webkit-border-top-left-radius: 20px;
  -moz-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.borderpillend{
	-webkit-border-top-right-radius: 20px;
  -moz-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pinkbackground{
	background-color:#C5027F;
}

.graybackground{
	background-color:#616160;
}

.greenbackground{
	background-color:#009999;
}
.tableSize{
	width:90%;
}

.gray{
	color:#2F302E !important;
}
.separateRow{
	padding-top: 10px;
	padding-bottom:10px;
}

td, th{
	    font-size: 16px;
	    padding: 8px;
			color: white;
			font-weight: 200;
}
table{
	background-color: transparent;
	border-spacing: 0px;
	border-collapse: collapse;
	max-width: 100%;
	margin-bottom: 20px;
	display: table;
	border-spacing: 2px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 8px;

}

/*
body.registro
{
	background-image:url(../img/backgrounds/FONDOinvertido.png);
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
*/
body.registro
{
background-color: white;
}

/*
body.backgroundPrincipal
{
  background-image:url('../img/backgrounds/FONDO2Size.png');
  background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
 /*background-size:auto;-*/
/*}*/
body.backgroundPrincipal
{
  background-color: white;
}

/*
Nueva parte
 */

.cssTitleRegistro{
	color: white;
	font-weight: bold;
	font-size: 30px;
}

.weight {
	font-weight: bold !important;
}


.ClassThin{
	 font-weight: 300;
	 color: white;
	 font-size: 18px;
}


.whiteClass{
	color: white;
	font-size: 18px;
}

.whiteClassThin{
		font-weight: 300;
		color: white;
		font-size: 18px;
}

.whiteClass2{
	color: white;
	font-size: 40px;
}

.titleLogin{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.NoRadiusGray{
	border:solid 0px #FFF;
	background-color: #E1E1E1;
	border-radius: 12px;
	height: 50px;
	font-size: 18px;
}

.titleContainer{
	text-align: center
}

.titleImg{
	display: inline-block;
}

.purpleTitle{
	color: #201953;
	font-size: 20px;
	font-weight: 500;
}

.imageMargin{
	margin-bottom: 17px;
}


.SubtitleMainPurpleClass{
	color: #201953;
	font-size: 15px;
	font-weight: normal;
}

.littlemargin{
  margin-top: 5%;
	border: 3px solid #201953;
}

.littlemargin td{
	border: 3px solid #201953;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	min-width: 200px;
}

.down{
	padding-top: 10px;
}



.designTable th{
color: #201953;
font-size: 14px;
border-bottom-style: 1px solid !important;
border-color:  #201953 !important;
}

.designTable {
color: #201953;
border: 3px solid  #201953 !important;
width: 80% !important;
}

.designTable td{
color: #409798;
font-size: 14px;
font-weight: normal;
border-color: #201953  !important;
border-bottom-style: 1px solid  !important;
}

.verde{
	color: #409798 !important;
}

.gris{
	color: #2F302E !important;
}


.normal{
	font-weight: normal !important;
}

.azul{
	color: #201953 !important;
}

.littlemargin2{
  margin-top: 5%;
	border: 3px solid #201953;
}

.littlemargin2 td{
	border: 3px solid #201953;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	max-width: 100px;
}

.NoRadiusColor{
	border:solid 1px #201953;
	border-radius: 0px;
	height: 50px;
	font-size: 18px;
}



.NoRadiusColorlogin{
	border:solid 1px #201953;
	border-radius: 0px;
	height: 40px;
	font-size: 18px;
	width: 100%;
}



.NoRadiusColor2{
	border:solid 1px #E5E5E5;
	border-radius: 0px;
	height: 50px;
	font-size: 18px;
	border-radius: 12px;
	background-color: #E5E5E5;

}


.NoRadiusColorButton{
	border:solid 1px #409798;
	color:#409798;
	border-radius: 14px;
	height: 50px;
	font-weight: 200;
	font-size: 20px;
	background-color: white;
	font-weight: normal;
}


.NoRadiusColorButtonPill{
	border:solid 1px #409798;
	color:#409798;
	border-radius: 0px;
	height: 50px;
	font-weight: 200;
	font-size: 20px;
	background-color: white;
	font-weight: normal;
	border-radius: 100px;
}

.NoRadiusColorButtonPillicon{
	border:solid 1px #409798;
	color:#409798;
	border-radius: 0px;
	height: 50px;
	font-weight: 200;
	font-size: 20px;
	background-color: white;
	font-weight: normal;
	border-radius: 100px;
	width: 40px;
}

.buttonpill{
	border:solid 1px #FFF;
	color:#FFF;
	border-radius: 0px;
	height: 40px;
	font-weight: 200;
	font-size: 18px;
	background-color: transparent;
	border-radius: 100px;
	font-weight: normal;
	width: 200px;
}

.buttonpillicon{
	border:solid 1px #FFF;
	color:#FFF;
	border-radius: 0px;
	height: 40px;
	font-weight: 200;
	font-size: 18px;
	background-color: transparent;
	border-radius: 100px;
	font-weight: normal;
	width: 40px;
}

.NoRadiusColorButtonCircle{
	border:solid 2px #3f8f8e;
	color:#3f8f8e;
	height: 50px;
	font-weight: 200;
	font-size: 20px;
	background-color: white;
	font-weight: normal;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	 border-radius:40px;
}


.NoRadiusColorButtonCircletype2{
	border:solid 2px #3f8f8e;
	color:#3f8f8e;
	height: 50px;
	font-weight: 200;
	font-size: 20px;
	background-color: white;
	font-weight: normal;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	 border-radius:40px;
}


.menuOption{
	color: white;
	font-size: 14px;
	font-weight: 500;
}

.menuOption:hover{
	color: white !important;
	text-decoration: none;
}

.menuOption:active{
	color: white !important;
	text-decoration: none;
}

.menuOption:visited{
	color: white !important;
	text-decoration: none;
}









.whiteClass3{
	color: white;
	font-size: 50px;
}

.thinWord{
	font-weight: 200;
}

.SubtitlewhiteClass{
	color: white;
	font-size: 30px;
	font-weight: 300;
}

.Subtitlelogin{
	color: white;
	font-size: 17px;
	font-weight: 400;
	text-align: justify;
}

.NoShadow{
	text-shadow: 0px 0px #FFF;
}
/*
.SubtitleMainwhiteClass{
	color: white;
	font-size: 35px;
	font-weight: 300;
}
*/


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
}



.marginlefttitle{
	margin-left: 60px;
}

.NoRadius{
	border:solid 0px #ccc;
	border-radius: 0px;
	height: 50px;
	font-size: 18px;
}

.weightAddCurso{
	width: 100%;
}
.buttonLogin{
background: transparent;
color: white;
font-weight: bold;
font-size: 25px;
height: 60px;
border:solid 3px #FFF;
border-radius: 0px;
}


.buttonForget{
background: transparent;
color: white;
font-weight: 400;
font-size: 16px;
height: 60px;
border: 0px;
border-radius: 0px;
}

.buttonForget:hover{
	color: white;
}

.buttonLoginRegistro{
background: #009999;
color: white;
font-weight: 400;
font-size: 15px;
height: 30px;
border-radius: 0px;
width: 195px;
border: 0px;
padding-bottom: 25px;
margin-left: 4%;
}

.buttonLoginRegistro:hover{
	color: white;
	text-decoration: none;
}

.containerregister{
	 border: 2px solid #FFF;
	 padding-bottom:20px;
	 margin-top: 20px;
	 padding: 10px;
}
.logologin{
	margin-left:20%;
	margin-top:20%;
}
.buttonLoginComenzar{
background: #C5027F;
color: white;
font-weight: 400;
font-size: 15px;
height: 30px;
border-radius: 0px;
width: 200px;
border: 0px;
padding-bottom: 30px;
}

.buttonLoginComenzar:hover{
	color: white;
}



.buttonAlta{
	background: transparent;
	color: white;
	font-weight: 200;
	font-size: 25px;
	height: 60px;
	width: 280px;
	border:solid 3px #FFF;
	border-radius: 0px;
}

.buttonMedium{
	background: transparent;
	color: white;
	font-weight: 200;
	font-size: 25px;
	height: 60px;
	width: 200px;
	border:solid 3px #FFF;
	border-radius: 0px;
}
.buttonLogin:hover{
color:#FFF;
text-decoration: none;
}

.WithTop:hover{
	color:#FFF;
	text-decoration: none;
}

.WithTop:active{
	color:#FFF;
	text-decoration: none;
}

.WithTop:visited {
	color:#FFF;
	text-decoration: none;
}
.NormalSizeWord{
font-size: 16px;
}
.alignCenter{
	text-align: center;
}
/*
.contenedorMain{
	padding-top: 10%;
	padding-right: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	border-radius: 20px;
}
*/


.contenedorMain{
	margin-top: 0%;
}

.WithTop{
	position: relative;
	top: 30px;
}

.WithTop:hover{
color:#FFF;
text-decoration: none;
}
/*
.top{
	padding-top: 5%;
	margin-top: 5%;
}*/

.top{
margin-top: 5%;
}

.top2{
	padding-top: 8%;
	margin-top: 8%;
}

.tablaDesign{
		 border: none !important;
}

.cells{
	padding: 15px;
	color: #201953;
	font-size: 14px;
	font-weight: normal;
}


.buttonTransparent{
	background: transparent;
	border:none;
	height: 50px;
}

.buttonTransparentBorder{
	background: transparent;
	height: 50px;
}

.back{
	background: transparent;
}

.hovercolorone:hover{
  background-color: rgba(182, 41, 124, 1.0);
}

.hovercolortwo:hover{
  background-color: rgba(182, 41, 124, 1.0);
}

.null{
	display: none;
}

.blanco{
	color: white;
}
